<html>
  <head>
    <title>SAOF</title>

    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">

    <script src="public/js/jquery-3.3.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <title>{{.Title}}</title>
  </head>

  <body style="height:70%">
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="#">
		    <img src="public/images/logo.svg" width="80" height="50" class="d-inline-block align-top" alt="">
		    <div style="display:inline;padding-left:50px;font-size:1.5em;color:darkgray;">Salesforce Architecture Opportunity Filter</div>
		  </a>
      <ul class="nav navbar-nav navbar-right">
        <img src="public/images/user.png" width="50px" alt="User" class="rounded-circle" style="background-color:darkgray">
      </ul>
		</nav>

    {{ yield }}
  </body>
</html>
