<div class="row" style="height:100px"></div>
<div class="row" style="height:200px">
    <div class="col-sm" align="center">
			<div class="card" style="width:25rem;height:30rem">
			  <div class="card-header">
			    <b>Step 1</b>
			  </div>
			  <img class="" src="public/images/csv.png" height="256px" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Upload new Report</h5>
			    <p class="card-text">Upload a new Salesforce exported CSV file containing all the current opportunities.</p>
			    <a href="/newreport" class="btn btn-block btn-primary">New Report</a>
			  </div>
			</div>
    </div>
    <div class="col-sm" align="center">
			<div class="card" style="width:25rem;height:30rem">
			  <div class="card-header">
			    <b>Step 2</b>
			  </div>
			  <img class="" src="public/images/mapping.png" height="256px" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Create new mapping</h5>
			    <p class="card-text">Create a new mapping of interesting technologies and Sales Specialist alignment.</p>
			    <a href="/newmapping" class="btn btn-block btn-primary">New Mapping</a>
			  </div>
			</div>
    </div>
    <div class="col-sm" align="center">
			<div class="card" style="width:25rem;height:30rem">
			  <div class="card-header">
			    <b>Step 3</b>
			  </div>
			  <img class="" src="public/images/report.png" height="233px" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Process report</h5>
			    <p class="card-text">Process an uploaded Salesforce report (<b>Step 1</b>) with a created mapping file (<b>Step 2</b>) for your custom data.</p>
			    <a href="/processreport" class="btn btn-block btn-primary">Process</a>
			  </div>
			</div>
    </div>
</div>
<div class="row" style="height:100px"></div>
