<script src="public/js/backscratch.js"></script>

<div class="row" style="height:100px"></div>
<div class="row" style="height:200px">
  <div class="col-sm" align="center">
    <div class="card" style="width:50rem;height:30rem">
      <div class="card-header">
        <b>New Mapping</b>
      </div>
      <div class="card-body">

        <form role="form" action="/newmapping" method="POST" class="f1">
          <h3>Build a new Mapping config</h3>
          <p>Please complete the following steps</p>
          <div class="f1-steps">
              <div class="f1-progress">
                  <div class="f1-progress-line" data-now-value="12.5" data-number-of-steps="4" style="width: 12.5%;"></div>
              </div>
              {{if .Step}}
                  <div class="f1-step">
                      <div class="f1-step-icon"></div>
                      <p>Report</p>
                  </div>
                  {{if eq .Step "2"}}
                    <div class="f1-step active">
                        <div class="f1-step-icon"></div>
                        <p>Technologies</p>
                    </div>
                  {{else}}
                    <div class="f1-step">
                        <div class="f1-step-icon"></div>
                        <p>Technologies</p>
                    </div>
                  {{end}}
                  {{if eq .Step "3"}}
                    <div class="f1-step active">
                        <div class="f1-step-icon"></div>
                        <p>Regions</p>
                    </div>
                  {{else}}
                    <div class="f1-step">
                        <div class="f1-step-icon"></div>
                        <p>Regions</p>
                    </div>
                  {{end}}
                  {{if eq .Step "4"}}
                    <div class="f1-step active">
                        <div class="f1-step-icon"></div>
                        <p>Export</p>
                    </div>
                  {{else}}
                    <div class="f1-step">
                        <div class="f1-step-icon"></div>
                        <p>Export</p>
                    </div>
                  {{end}}
              {{else}}
                  <div class="f1-step active">
                      <div class="f1-step-icon"></div>
                      <p>Report</p>
                  </div>
                  <div class="f1-step">
                      <div class="f1-step-icon"></div>
                      <p>Technologies</p>
                  </div>
                  <div class="f1-step">
                      <div class="f1-step-icon"></div>
                      <p>Regions</p>
                  </div>
                  <div class="f1-step">
                      <div class="f1-step-icon"></div>
                      <p>Export</p>
                  </div>
              {{end}}
          </div>

          {{if .Step}}
            {{if eq .Step "2"}}
                <h4>Identify Interesting Technologies</h4>
                <input type="hidden" name="step" id="step" value="3"/>
                <input type="hidden" name="report" id="report" value="{{.Report}}"/>

                <select class="checkboxContainer" name="technologies" id="technologies" multiple>
                  {{range $tech := .Technologies}}
                    <option value="{{$tech}}" style="font-size:12px;">{{$tech}}</option>
                  {{end}}
                </select>
                <div class="f1-buttons">
                    <button type="button" class="btn btn-secondary btn-previous">Previous</button>
                    <button type="submit" class="btn btn-secondary btn-next">Next</button>
                </div>
            {{end}}

            {{if eq .Step "3"}}
                <h4>Identify Geography Mappings</h4>
                <input type="hidden" name="step" id="step" value="4"/>
                <input type="hidden" name="report" id="report" value="{{.Report}}"/>
                <input type="hidden" name="technologies" id="technologies" value="{{.Technologies}}"/>
                <input type="hidden" name="securetechnologies" id="securetechnologies" value="{{.SecureTechnologies}}"/>

								<div class="checkboxContainer myform">
                  {{range $region := .Regions}}
										<div class="form-group row" style="white-space:nowrap;display:block-inline">
								      <label class="control-label col-sm-5" for="{{$region}}" style="font-size:11px;font-weight:bold;padding-top:10px">{{$region}}:</label>
								      <div class="col-sm-7" style="white-space:nowrap;display:block-inline">
								        <input type="text" class="form-control" id="{{$region}}" placeholder="{{$region}}" name="{{$region}}">
								      </div>
								    </div>
                  {{end}}
                </div>
                <div class="f1-buttons">
                    <button type="button" class="btn btn-secondary btn-previous">Previous</button>
                    <button type="submit" class="btn btn-secondary btn-next">Next</button>
                </div>
            {{end}}

            {{if eq .Step "4"}}
                <h4>Name & Save Mapping file:</h4>
                <input type="hidden" name="step" id="step" value="5"/>
                <input type="hidden" name="report" id="report" value="{{.Report}}"/>
                <input type="hidden" name="regions" id="regions" value="{{.Regions}}"/>
                <input type="hidden" name="secureregions" id="secureregions" value="{{.SecureRegions}}"/>
                <input type="hidden" name="selected" id="selected" value="{{.Selected}}"/>
                <input type="hidden" name="technologies" id="technologies" value="{{.Technologies}}"/>
                <input type="hidden" name="securetechnologies" id="securetechnologies" value="{{.SecureTechnologies}}"/>

								<div class="form-group row" style="white-space:nowrap;display:block-inline">
									<label class="control-label col-sm-5" for="mapname" style="font-size:11px;font-weight:bold;padding-top:10px">Map file name:</label>
									<div class="col-sm-7" style="white-space:nowrap;display:block-inline">
										<input type="text" class="form-control" id="mapname" placeholder="Map file name" name="mapname">
									</div>
								</div>

								<button type="submit" class="btn btn-secondary">Save processed file</button>
            {{end}}
          {{else}}
            <h4>Which report would you like to base the mapping on:</h4>
            <div class="form-group">
                <label class="sr-only" for="f1-first-name">Report name</label>
                <input type="hidden" name="step" id="step" value="2"/>
                <select name="report" id="report">
                  {{range $report := .Reports}}
                    <option>{{$report}}</option>
                  {{end}}
                </select>
            </div>
            <div class="f1-buttons">
                <button type="submit" class="btn btn-secondary">Next</button>
            </div>
          {{end}}



        </form>


        <a href="/" class="btn btn-block btn-primary">Return</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height:100px"></div>
