<script>

</script>
<div class="row" style="height:100px"></div>
<div class="row" style="height:200px">
  <div class="col-sm" align="center">
    <div class="card" style="width:50rem;height:30rem">
      <div class="card-header">
        <b>New Report</b>
      </div>
      <div class="card-body">
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <span>
              <input  type="file"
                      style="visibility:hidden; width: 1px;"
                      id='file' name='file'
                      onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> <!-- Chrome security returns 'C:\fakepath\'  -->
              <input class="btn btn-primary" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();"/> <!-- on button click fire the file click event -->
              &nbsp;
              <span  class="badge badge-important" ></span>

              <input type="submit" value="Upload Report" name="submit">
          </span>
        </form>
        <a href="/" class="btn btn-block btn-primary">Return</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height:100px"></div>
